# Dependency directories
node_modules/

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.suo
*.bak
*~
*.log
*.DS_Store
*.log
Thumbs.db

# Dependency files
package-lock.json
yarn.lock

